{% extends 'base.html' %}

{% block title %}

    Lista de Redes Sociais - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Redes Sociais</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col"><a href="{% url 'socialnetworks:add_socialnetwork' %}">Cadastro de nova rede social</a></th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descricao</th>
                    </tr>
                </thead>
                <tbody>
                    {% for socialnetwork in socialnetworks %}
                        <tr>
                            <th scope="row">{{ socialnetwork.id }}</th>
                            <td>{{ socialnetwork.name }}</td>
                            <td>{{ socialnetwork.description }}</td>
                            <td>
                                <a href="{% url 'socialnetworks:edit_socialnetwork' socialnetwork.id %}" class="btn btn-primary btn-sm">Editar</a>
                                <a href="{% url 'socialnetworks:delete_socialnetwork' socialnetwork.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}