div{
    padding: 20px;
}
table{
    background-color: #777777;
    padding: 2px;
}
.botoes{
    background-color: #ecd469;
    width: 47px;
    height: 47px;
    font-size: 15px;
    border: 1;
    font-weight: bold;
}
.tela{ 
    width: 200px;
    height: 47px;
    background-color: #000000;
    color: #ffffff;
    border: 1;
    font-size: 25px;
    font-size: bold;
}